/* button{
} */

.spinner {

  /* width: 30px;
  height: 30px; */

  border-bottom-color: transparent;
  border-radius: 50%;
  animation-name: logo-spin;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

@media(min-width:768px) {

  .content:hover .content-more {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* styles.css */
@media (max-width: 768px) {
  .edit-login {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[80%] h-[600px] rounded-[6px];
    padding: 12px;
  }
}

.center-div {
  @apply left-1/2 -translate-x-1/2
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);

  }

  100% {
    transform: translateY(0);
  }
}

@keyframes popup {

  0% {
    opacity: 0;
    transform: scale(1)
  }

  100% {
    opacity: 1;
    transform: scale(1)
  }

}
.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}

.animate-pop {
  animation: popup 0.3s ease-in-out ;
}
/* .animate-rotate{
animation: logo-spin 1s ease-in-out;
animation-iteration-count: infinite;
} */